<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
    <title>Главная</title>
</head>
<body>
        <header class="home-header">
            <div class="container">
                <div class="logo">
                    <h2>Plants</h2>
                </div>
                <div class="navigation">
                    <a class="navigation-item" href="{% url 'home' %}">Главная</a>
                    <a class="navigation-item" href="{% url 'products' %}">Товары</a>
                    <a class="navigation-item" href="{% url 'about' %}">О нас</a>
                    <a class="navigation-item" href="{% url 'order' %}">
                        <img src="/static/img/image 1.png" alt="image 1">
                    </a>
                </div>       
            </div>  <!-- container -->
        </header>  <!-- home-header -->

        <section class="main">
            <div class="container">
                <div class="main-text">
                    <h1>Вырасти прекрасные растения у себя дома</h1>
                    <span>Вы точно найдете растение по душе!</span>
                    <a href="{% url 'products' %}">Заказать</a>
                </div>
                <img src="/static/img/main_image.png" alt="main_image">
            </div> <!-- container -->
        </section>  <!-- main -->

        <section class="about">
            <p>Наличие цветов в доме способствует созданию гармоничной атмосферы, придает романтики и уюта. Кроме того, комнатные растения способны оживить любое помещение. Они привлекают своей красотой, придают любому стилю интерьера особую красоту и индивидуальность.
                Необязательно ограничиваться установкой цветов у себя дома. Растения уместны практически везде, от офисов до больничных центров. </p>
        </section>  <!-- about -->


        <section class="features">
            <div class="container">
                <table>
                    <tr>
                        <td>
                            <div class="features-item">
                                <p>2000+</p>
                                <span>Заказов</span>
                            </div>
                        </td>
                        <td>
                            <div class="features-item">
                                <p>1200+</p>
                                <span>Клиентов</span>
                            </div>
                        </td>
                        <td>
                            <div class="features-item">
                                <p>1000+</p>
                                <span>Товаров</span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div> <!-- container -->
        </section>  <!-- features -->
        
        <section class="best_products">
            <div class="container">
                <div class="best_products-title">Наши лучшие товары</div>
                <div class="best_products-item">
                    <img src="/static/img/best_products_1.png" alt="best_products_1">
                    <p class="best_products-item-title">Замиокулькас</p>
                    <p class="best_products-item-price">1300 р.</p>
                </div>
                <div class="best_products-item">
                    <img src="/static/img/best_products_1.png" alt="best_products_1">
                    <p class="best_products-item-title">Замиокулькас</p>
                    <p class="best_products-item-price">1300 р.</p>
                </div>
                <div class="best_products-item">
                    <img src="/static/img/best_products_1.png" alt="best_products_1">
                    <p class="best_products-item-title">Замиокулькас</p>
                    <p class="best_products-item-price">1300 р.</p>
                </div>
                <div class="best_products-item">
                    <img src="/static/img/best_products_1.png" alt="best_products_1">
                    <p class="best_products-item-title">Замиокулькас</p>
                    <p class="best_products-item-price">1300 р.</p>
                </div>
            </div>  <!-- container -->
        </section>  <!-- best-products -->

        <footer class="home-footer">
            <div class="container">
                <div class="logo">
                    <h2>Plants</h2>
                    <span>© 2023. Все права защищены<br>
                        <a href="#">Политика конфиденциальности</a>
                    </span>
                </div>
                <div class="navigation">
                    <a class="navigation-item" href="{% url 'home' %}">Главная</a>
                    <a class="navigation-item" href="{% url 'products' %}">Товары</a>
                    <a class="navigation-item" href="{% url 'about' %}">О нас</a>
                    <div class="navigation-msgs">
                        <a href="#"><img class="navigation-msgs-item" src="/static/img/msg_1.png" alt="msg_1"></a>
                        <a href="#"><img class="navigation-msgs-item" src="/static/img/msg_2.png" alt="msg_2"></a>
                        <a href="#"><img class="navigation-msgs-item" src="/static/img/msg_3.png" alt="msg_3.png"></a>
                    </div>
                </div>  
            </div> <!-- container -->
        </footer>  <!-- footer -->
    
</body>
</html>